* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    background-image: linear-gradient(rgba(41, 44, 115, 0.7),rgba(41, 44, 115, 0.7)),url(serverroom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 30px 25px;
}

.nav_list ul li {
    display: inline-block;
    font-size: 20px;
}

.nav_list ul li a {
    color:white;
    list-style: none;
    text-decoration: none;
    margin: 0 25px;
}

.nav_list ul li::after {
    content: "";
    width: 0%;
    height: 5px;
    background: white;
    display: block;
    margin: 10px auto;
    border-radius: 2px;
    transition: 0.5s;
}

.nav_list ul li:hover::after {
    width: 100%;
}

.logo {
    width: auto;
    height: 40px;
}

.headtext {
    color:White;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 230px;
}

.info {
    color:rgba(255, 255, 255, 0.678);
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.info2 {
    color:white;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.info3 {
    color:white;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    text-decoration: underline;
}

.startnow {
    color: white;
    margin: 50px auto;
    display: block;
    background-color: transparent;
    border-style: dashed;
    border-color: white;
    font-size: 25px;
    padding: 10px 60px;
    cursor: pointer;
    transition: 2s;
}

.startnow:hover {
    background-color: rgba(21, 38, 94, 0.8);
    text-shadow: 0px 0px 3px;
    transition: 0.8s
}

.bottomsection {
     background-color: rgb(31, 34, 44); /* or any color you want */
    padding: 80px 40px;
    color: white;
    margin-top: 300px;
}

.bottomsection {
    text-align: center;
}

.type1 {
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap;
}

.info-col {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  background-color: rgb(22, 24, 29);
  padding: 40px 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 6px;
  transition: 0.3s;
}

.info-col p {
    border-top: solid white;
    margin-top: 15px;
    padding-top: 20px;
}

.info-col:hover {
    box-shadow: 0px 0px 20px;
    transition: 0.3s;
}

.footer1 {
    background-color: rgb(31, 34, 44);
    padding-top: 30px;
    color:white;
}

.about1 {
    text-align: center;
    margin-bottom: 100px;
}

.mainone {
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.623);
    padding-bottom: 20px;
}

.watermark {
    text-align: center;
    padding-bottom: 10px;
}

.ri-close-large-line {
    display: none;
}

.ri-menu-line {
    display: none;
}

@media (max-width: 700px) {
    .info {
        font-size: 14px;
    }

    .headtext {
        font-size: 27px;
    }

    .info2 {
        font-size: 16px;
    }

    .info3 {
        font-size: 15px;
    }

    .nav_list ul {
        margin-top: 50px;
    }

    .nav_list ul li {
        display: block;
        margin-top: 25px;
        margin-left: 25px;
    }

    .nav_list {
        position: absolute;
        background: rgb(21, 38, 94);
        height: 100em;
        width: 15em;
        top: 0;
        right: -400px;
        text-align: left;
        z-index: 10;
        transition: 1s;
    }

    .ri-close-large-line {
        display: block;
        color: white;
        margin: 15px;
        font-size: 25px;
        cursor: pointer;
        
    }

    .ri-menu-line {
        display: block;
        color: white;
        font-size: 30px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .mainone {
        display: block;
        text-align: center;
    }

    .quicklinks2 {
        display: none;
    }
}

@media (max-width: 1300px) {
    .info {
        font-size: 14px;
    }

    .headtext {
        font-size: 27px;
    }

    .info2 {
        font-size: 16px;
    }

    .info3 {
        font-size: 15px;
    }

    .nav_list ul {
        margin-top: 50px;
    }

    .nav_list ul li {
        display: block;
        margin-top: 25px;
        margin-left: 25px;
    }

    .nav_list {
        position: absolute;
        background: rgb(21, 38, 94);
        height: 100em;
        width: 15em;
        top: 0;
        right: -400px;
        text-align: left;
        z-index: 10;
        transition: 1s;
    }

    .ri-close-large-line {
        display: block;
        color: white;
        margin: 15px;
        font-size: 25px;
        cursor: pointer;
        
    }

    .ri-menu-line {
        display: block;
        color: white;
        font-size: 30px;
    }

    .row {
    justify-content: center;
    flex-wrap: wrap;
    }

    .info-col {
    flex: 1 1 calc(50% - 40px);
    max-width: 400px;
  }

    html, body {
  width: 100%;
  overflow-x: hidden;
}



}
